body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
}

/* Header */
header {
  background: #0077b6;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  background: #023e8a;
}
nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
nav a:hover, nav a.active {
  background: #0096c7;
}

/* Banner */
.hero-banner {
  position: relative;
  width: 100%;
  height: 450px;  /* bigger height */
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 1.2rem;
}


/* Table */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background: #0096c7;
  color: white;
}

/* Form */
form {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
form button {
  background: #0077b6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
form button:disabled {
  background: gray;
}



/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  margin-left: 30px;
}
.gallery img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}
.gallery img:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal img {
  max-width: 80%;
  border-radius: 8px;
}
#closeModal {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Footer */
footer {
  background: #023e8a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
